# Siege Perilous Ruleset, false by defualt

IsSiege=true

#If siege is active, this is the amount of players per account.  Note, EA only allows 1 per account on siege rule-set shards
CharacterSlots=1


#####
# Additional Custom Shard Settings
#####

# Override Siege settings to allow NPCs to teach skills
MobilesCanTeach=true

# A mobile's skill is divided by this much to determine how much they can teach. (Default: 3)
TeachingDivisor=1

# Maximum skill that can be taught. (Default: 420)
TeachingCap=1000

# Number of Kills to be Murderer. (Default: 5)
KillsToMurderer=1

# Allow Custom Keep & Castle (Default: false)
AllowCustomKeepAndCastle=true

# On death keep equipped items, except cursed (Default: false)
KeepEquippedOnDeath=true

# Disable Recall Restrictions (Default: false)
EnableRecallSacredJourney=true

# Recall & SacredJourney Base Delay Multiplier (Default: 1)
RecallSacredJourneyBaseDelayMultiplier=3

# Use custom starting cities (Default: false)
UseCustomStartingCities=true

# Days until pet can bond (Default: 7.0)
PetBondingDelay=0.0

# Disable ROT (Default: false)
DisableROT=true

# Price Multiplier for newer Keeps and Castles (Default: 1.0)
KeepAndCastlePriceMultiplier=0.033

# Price Multiplier for Customizable Houses (Default: 1.0)
CustomizableHousePriceMultiplier=2.0
